<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Bartosz Witkowski" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
   <div class="article">
      <div class="title">
         Bartosz Witkowski - Blog. <br />
         <a href="/">Home</a> 
         <a href="/about-me.html"> About me </a> 
      </div>
      

     {{ content }}

   </div>
   <div class="footer">
     <h3>
       <a href="/"> Home </a>
     </h3>
     <p>
       You can contact me at: bartosz.witkowski@like-a-boss.net
     </p>
   </div>
</body>
</html>
